.panel{"data-title" => "Key Stats"}
  .content
    %table
      %tr
        %td
          %h1= @number_in_pipeline
          %h3 Requests in Pipeline
      %tr
        %td
          %h1= number_to_currency(@amount_in_pipeline, :precision => 0)
          %h3= "#{CurrencyHelper.current_long_name.pluralize} in Pipleline"
      %tr
        %td
          %h1= number_to_currency(@average_amount, :precision => 0)
          %h3 Average Request Amount
      %tr
        %td
          %h1= number_with_precision(@average_days, :precision => 0)
          %h3 Average Request Age
.panel{"data-title" => "Pipeline"}
  .content
    %table
      %tr
        %td
          -@pipeline.each do |stats|
            %h2.pipeline-stats{:style => "width: #{number_to_percentage(stats[:percentage])}"}= stats[:count]
            %h3= "#{stats[:state]} - #{number_to_currency(stats[:amount], :precision => 0)}"
