- if model.request_amendments.select{|ra| (ra.duration || ra.end_date) && (ra.is_approved?) }.empty?
  - if model.is_a?(FipRequest)
    = "#{model.fip_projected_end_at ? model.fip_projected_end_at.mdy : ''} (Original)"
  - elsif Fluxx.config(:dont_use_duration_in_requests) == "1"
    = "#{model.grant_closed_at ? model.grant_closed_at.mdy : ''} (Original)"
  - elsif model.duration_in_months
    = "#{model.duration_in_months} months (Original)"
- else
  -show_all_amendments = true if show_all_amendments == nil
  -request_amendments = model.request_amendments.select{|ra| (ra.is_approved? || ra.is_original?) && (ra.duration || ra.end_date)}.reverse
  - request_amendments.each do |amend|
    - if show_all_amendments || request_amendments.first == amend
      %div
        - if model.is_a?(FipRequest) || Fluxx.config(:dont_use_duration_in_requests) == "1"
          = "#{amend.end_date ? amend.end_date.mdy : ''}"
        - else
          = "#{amend.duration} months"
        = "(#{amend.original? ? "Original" : "Amended #{amend.created_at.mdy if amend.created_at}"})"
