%span.fluxx-card-content-metadata-section-title
%span.fluxx-card-content-metadata-section-info
  - unless Fluxx.config(:dont_use_duration_in_requests) == "1"
    - if model.duration
      = "New Duration: #{model.duration}"
      %br
  - else  
    - if model.start_date
      = "New Start Date: #{model.start_date.mdy}"
      %br
    - if model.end_date
      = "New End Date: #{model.end_date.mdy}"
      %br
  - if model.amount_recommended
    = "New Amount Funded: #{model.amount_recommended.to_currency}"
    %br
  = "State: #{model.state_to_english}"
