%h2
  - unless Fluxx.config(:dont_use_duration_in_requests) == "1"
    = "Duration: #{model.duration}"
    %br
  - else
    = "Start Date #{model.start_date.mdy if model.start_date}"
    %br
    = "End Date #{model.end_date.mdy if model.end_date}"
    %br
  = "Amount Recommended #{model.amount_recommended.to_currency if model.amount_recommended}"
%h4
  = model.request.grant_id if model.request
  <br />
  - if model.request && model.request.is_a?(FipRequest)
    = model.request.fip_title
  - else
    = model.request.program_organization.display_name if model.request && model.request.program_organization