- if model.request.is_a? FipRequest
  %h2= model.request.fip_title if model.request
- else
  %h2= model.request.org_name_text if model.request

%h4= [model.request ? model.request.grant_or_request_id : nil, (model.request && model.request.program ? model.request.program.name : nil)].compact.join(' | ')
%h4= model.state_to_english

- if model.start_date
  = raw "#{model.old_start_date ? model.old_start_date.mdy : ''} &rarr; #{model.start_date.mdy} (Start Date)"
  %br
- if Fluxx.config(:dont_use_duration_in_requests) == "1" || (model.request && model.request.is_a?(FipRequest))
  - if model.end_date
    = raw "#{model.old_end_date ? model.old_end_date.mdy : ''} &rarr; #{model.end_date.mdy} (End Date)"
    %br
- else  
  - if model.duration
    = raw "#{model.old_duration} &rarr; #{model.duration} (duration)"
    %br
- if model.amount_recommended
  = raw "#{model.old_amount_recommended ? model.old_amount_recommended.to_currency : ''} &rarr; #{model.amount_recommended.to_currency}"
  %br
  

