-back_button_label = (current_user.is_reviewer? ? "Return to List" : "Back to Main Menu")
.container
  .titlebar
    %h4
      = raw render_grant_or_request_id model
      %input{:type => 'submit', :name => 'cancel', :class => 'button create open-link float_right', :value => back_button_label, 'data-href'.to_sym => grantee_portal_index_path(:page => 1)}
      - actions = model.actions(current_user)
      - if actions && actions.length > 0
        %input{:type => 'submit', :name => 'edit', :class => 'button create open-link float_right', :value => 'Edit Request', 'data-href'.to_sym => current_edit_path(model)}

      - if current_user.is_reviewer? && current_user.has_create_for_model?(RequestReview)
        %input{:type => 'submit', :name => 'review', :class => 'button create open-link float_right', :value => 'Review', 'data-href'.to_sym => new_request_review_path(:request_review => {:request_id => model.id})}
  .content
    = render :partial => "grant_requests/grant_request_show", :locals => {:model => model}
- if model.granted
  .container
    = semantic_form_for ModelStub.generate_class_instance(RequestReport), :url => current_show_path(model), :html => { :method => :get, :class => "filter-reports"} do |form|
      - form.object.report_filter = @filter if @filter
      %table
        %td{:width => "600"}
          = form.input :report_filter, :label => 'Show all reports due within the next', :as => :select, :collection => [["30 days", 30], ["6 months", 180], ["1 year", 365], ["Show All", 0]]
        %td
          = form.submit :value => "Filter Reports"
    .reports{"data-src".to_sym => grantee_portal_index_path({:table => "reports", :page => 1})}
      = render :partial => "grantee_portal/report_list", :locals => {:@data => @reports}

  .container
    .transactions= render :partial => "grantee_portal/transaction_list", :locals => {:@data => @transactions}

- if current_user.has_create_for_model?(RequestReview)
  %input{:type => 'submit', :name => 'review', :class => 'create open-link', :value => 'Review', 'data-href'.to_sym => new_request_review_path(:request_review => {:request_id => model.id})}
%input{:type => 'submit', :name => 'cancel', :class => 'create open-link', :value => back_button_label, 'data-href'.to_sym => grantee_portal_index_path(:page => 1)}
