-sql_query = "select sub_programs.id, sub_programs.created_at, sub_programs.updated_at, sub_programs.name, if(spending_year is null, 'none', spending_year) as spending_year, sum(amount) as amount_funded from sub_programs left outer join funding_source_allocations fsa on true where #{SubProgram::SUB_PROGRAM_FSA_JOIN_WHERE_CLAUSE.gsub /\?/, 'sub_programs.id'} and sub_programs.id IN (?) group by name, if(spending_year is null, 0, spending_year)"

%table.spreadsheet
  %thead
    %tr
      %th Date Created
      %th Date Updated
      %th Name
      %th Spending Year
      %th Amount Funded
      %th Geo Zone
  %tbody
    -SubProgram.connection.execute(SubProgram.send(:sanitize_sql, [sql_query, models])).each_hash do |res|
      %tr
        %td{:nowrap => 1}= mdy_date_format res["created_at"]
        %td{:nowrap => 1}= mdy_date_format res["updated_at"]
        %td{:nowrap => 1}= res["name"]
        %td{:nowrap => 1}= res["spending_year"]
        %td{:nowrap => 1}= dollars_format res["amount_funded"]
        -model = SubProgram.find(res["id"])
        %td{:nowrap => 1}= model.geo_zone if model && model.respond_to?(:geo_zone)
