%fieldset.inputs
  %ol
  = form.input :name, :label => "Funder Name:"
  = form.input :start_at, :label => "Start Date:"
  = form.input :end_at, :label => "End Date:"
  = form.input :amount, :label => "Award Amount:"
  = form.input :overhead_amount, :label => "Overhead (Dollars)"
  = form.input :net_available_to_spend_amount, :label => "Net Available to Spend"
  = form.input :narrative_lead_user_id, :label => "Narrative Lead", :as => :select, :collection => Program.all_program_users.map {|user|[user.full_name, user.id]}
  = form.input :retired, :as => :boolean, :label => "Retired:"
  = render :partial => 'funding_sources/funding_source_form_extra',  :locals => {:model => model, :form => form}
  = form.commit_button