%fieldset.inputs
  %ol
    = form.input :request_id, :as => :hidden
    - unless Fluxx.config(:hide_request_eval_timeframe) == "1"
      = form.input :timeframe, :as => :select, :collection => ["Short-Term", "Intermediate", "Long-Term"]
    = form.input :description, :label => "Expected Impact", :as => :text
    
    = form.input :comment, :label => "Progress Indicator", :as => :text

    = form.commit_button :label => model.id ? "Update Evaluation Metric" : "Create Evaluation Metric"