%fieldset.inputs
  %ol
  = form.input :program_id, :as => :hidden
  = form.input :sub_program_id, :as => :hidden
  = form.input :initiative_id, :as => :hidden
  = form.input :sub_initiative_id, :as => :hidden
  = form.input :spending_year, :as => :hidden
  = form.input :amount
  = form.commit_button
