- if model.is_final_eval_report_type?
  .pairs
    .keys= "What did the grantee do?"
    .values= simple_format(model.what_grantee_did)
  .pairs
    .keys= "What did the grantee win?"
    .values= simple_format(model.what_grantee_won)
  .pairs
    .keys= "Evaluation Rating:"
    .values= model.evaluation_rating
