%table.spreadsheet
  %thead
    %tr
      %th Date Created
      %th Date Updated
      %th Request ID
      %th State
      %th Report Type
      %th Due Date
      %th Date Approved
      %th Org Name
      %th Amount Recommended
      %th Lead PO
      %th Project Summary
  %tbody
    -@models.each do |model|
      %tr
        %td{:nowrap => 1, :style => "min-width: 84px"}= model.created_at.mdy if model.created_at
        %td{:nowrap => 1}= model.updated_at.mdy if model.updated_at
        %td{:nowrap => 1}= link_to model.request.grant_or_request_id, current_show_path(model.id), :class => "new-detail", 'data-insert' => 'after'
        %td{:nowrap => 1}= link_to model.state_to_english,  url_for(:action => :show, :view_states => true, :id => model.id), :class => 'to-modal small-modal', :title => 'View Workflow', 'data-on-success' => 'refreshCaller'
        %td{:nowrap => 1}= model.report_type.gsub(/Budget$/, 'Financial')
        %td{:nowrap => 1}= model.due_at.mdy if model.due_at
        %td{:nowrap => 1}= model.approved_at.mdy if model.approved_at
        %td{:nowrap => 1}= model.request.program_organization.name if model.request.program_organization
        %td{:nowrap => 1}= model.request.amount_recommended
        %td{:nowrap => 1}= model.request.program_lead.full_name if model.request.program_lead
        %td{:nowrap => 1}= model.request.project_summary
