= form_tag organizations_dedupe_complete_path do |form|
  - params[:org_id].each do |org_id|
    = hidden_field_tag 'org_id[]', org_id
  = submit_tag "Complete Merge"
  %table{:border=>2}
    %tr
      %th Primary?
      %th name
      %th street
      %th street2
      %th city
      %th state
      %th country
      %th postal_code
      %th phone
      %th fax
      %th email
      %th url
      %th acronym
    - last_name_soundex = nil
    - last_street_soundex = nil
    - @organizations.each(:cache_rows => false, :symbolize_keys => true, :as => :hash) do |org|
      %tr
        %td
          = radio_button_tag 'primary_org_id', org[:id]
        %td= org[:name]
        %td= org[:street_address]
        %td= org[:street_address2]
        %td= org[:city]
        %td= org[:state]
        %td= org[:country]
        %td= org[:postal_code]
        %td= org[:phone]
        %td= org[:fax]
        %td= org[:email]
        %td= org[:url]
        %td= org[:acronym]
      - last_name_soundex = org[:name_soundex]
      - last_street_soundex = org[:street_soundex]
  = submit_tag "Complete Merge"
